<div class="container">
    <h1 class="mt-4">Business Card List</h1>
    
    <button class="btn btn-outline-dark" (click)="ExportCardsToXML()">
        Export to XML <i class="bi bi-file-arrow-down-fill"></i>
    </button>
    
    <button class="btn btn-outline-success" (click)="ExportCardsToCSV()">
        Export to CSV <i class="bi bi-file-arrow-down-fill"></i>
    </button>
    
    <br>
    <div style="display: flex; align-items: center; gap: 10px; padding-block: 10px;">
        <input 
          type="text" 
          #searchInput 
          placeholder="Search by address" 
          (keydown.enter)="SearchByAddress(searchInput.value)" 
          class="form-control" 
          style="width: 20%;" 
        />
        <button 
          class="btn btn-primary" 
          (click)="SearchByAddress(searchInput.value)">
          <i class="bi bi-search"></i>
        </button>
      </div>
  
    <div class="row mt-4">
        <ng-container *ngIf="filteredCards | async as filteredCardsList; else showAllCards">
            <div class="col-md-4" *ngFor="let card of filteredCardsList">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.name }}</h5>
                        <p class="card-text">Id: {{ card.id }}</p>
                        <p class="card-text">Email: {{ card.email }}</p>
                        <p class="card-text">Phone: {{ card.phone }}</p>
                        <p class="card-text">Gender: {{ card.gender }}</p>
                        <p class="card-text">Address: {{ card.address }}</p>
                        <button class="btn btn-danger btn-sm" (click)="OnDelete(card.id!)">Delete</button>
                        <!-- <button  class="btn btn-primary btn-sm" disabled >Export</button> -->
                    </div>
                </div>
            </div>
        </ng-container>
        
        <ng-template #showAllCards>
            <ng-container *ngIf="businessCards | async as businessCardsList; else noCards">
                <div class="col-md-4" *ngFor="let card of businessCardsList">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ card.name }}</h5>
                            <p class="card-text">Id: {{ card.id }}</p>
                            <p class="card-text">Email: {{ card.email }}</p>
                            <p class="card-text">Phone: {{ card.phone }}</p>
                            <p class="card-text">Gender: {{ card.gender }}</p>
                            <p class="card-text">Address: {{ card.address }}</p>
                            <button class="btn btn-danger btn-sm" (click)="OnDelete(card.id!)">Delete</button>
                            <a href="#" class="btn btn-primary btn-sm">Export</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-template>
    </div>
    
    <ng-template #noCards>
        <p>No business cards found.</p>
    </ng-template>
</div>
